* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka  One", sans-serif;
}

body {
    height: 100vh;
    background: dodgerblue;
}

html {
    font-size: 16px;
}

.wrapper {
    font-size: 2em;
    text-align: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
    color: #FAB201;
    -webkit-text-stroke: 5px white;
}

.button-option {
    background: #ffffff;
    height: 15vmin;
    width: 15vmin;
    border: 2px;
    border-radius: 4px;
    font-size: 7vmin;
    color: orange;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.popup {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}
#message {
    color: #ffffff;
    text-align: center;
    font-size: 0.6em;
  }
#new-game {
    font-size: 0.3em;
    padding: 0.5em 1em;
    background-color: orange;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
}

.popup.hide {
    display: none;
}
